@use "../partials/variables" as v;
@use "../partials/functions" as f;
@layer components {
	.banner {
		display: flex;
		aspect-ratio: 100 / 42;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		position: relative;
		&-text {
			padding: 5%;
			&::before {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				bottom: 0;
				right: 0;
				background-color: var(--black);
				opacity: 0.5;
			}
			& > * {
				margin: auto;
				font-weight: 700;
				color: var(--white);
				font-size: f.rem(48);
				line-height: f.rem(60);
				text-align: center;
				position: relative;
			}
		}
	}
}
